maxWidth(n)
  @media screen and (max-width: unit(n, 'px'))
    {block}

minWidth(n)
  @media screen and (min-width: unit(n, 'px'))
    {block}

// スマートフォン用レイアウト
sp()
  +maxWidth(480)
    {block}

// 縦画面タブレット用レイアウト
tablet()
  @media screen and (min-width: 481px) and (max-width: 768px)
    {block}

// スマートフォン/縦画面タブレット用レイアウト
touch()
  +maxWidth(768)
    {block}

// 縦画面タブレット/デスクトップ用レイアウト
tabDesk()
  +minWidth(481)
    {block}

// デスクトップ用レイアウト
desktop()
  +minWidth(769)
    {block}

bold()
  font-weight 700

btn-primary()
  position absolute
  display block
  padding .5em 1.5em
  background-color #000
  color #fff
  transition background-color 225ms cubic-bezier(.7,.15,.3,.95)
  &::before
    content ''
    position absolute
    width 50%
    height 100%
    top 0
    left 0
    background-color #000
    z-index -1
    transition background-color 225ms cubic-bezier(.4,.25,.3,1),transform 225ms cubic-bezier(.4,.25,.3,1)
  &::after
    content ''
    position absolute
    width 50%
    height 100%
    top 0
    right 0
    background-color #000
    z-index -1
    transition background-color 225ms cubic-bezier(.4,.25,.3,1),transform 225ms cubic-bezier(.4,.25,.3,1)
  &:hover
    background-color $blue-10
    &::before
      background-color $blue-10
      transform translateY(-.35em)
    &::after
      background-color $blue-10
      transform translateY(.35em)
  span
    display block
    margin-right -.2em
    font-size 20px
    letter-spacing .2em
