$blue-10 = hsl(219, 100%, 56%)
$blue-9 = hsl(219, 90%, 56%)
$blue-8 = hsl(219, 80%, 56%)
$blue-7 = hsl(219, 70%, 56%)
$blue-6 = hsl(219, 60%, 56%)
$blue-5 = hsl(219, 50%, 56%)

$gray-10 = #000
$gray-9 = hsl(0, 0%, 10%)
$gray-8 = hsl(0, 0%, 20%)
$gray-7 = hsl(0, 0%, 30%)
$gray-6 = hsl(0, 0%, 40%)
$gray-5 = hsl(0, 0%, 50%)
$gray-4 = hsl(0, 0%, 60%)
$gray-3 = hsl(0, 0%, 70%)
$gray-2 = hsl(0, 0%, 80%)
$gray-1 = hsl(0, 0%, 90%)
$gray-0 = #fff
