@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700');
@import url('https://fonts.googleapis.com/css?family=Hind:400,700');

*,
:after,
:before {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
::selection {
  background: rgba(0, 0, 0, 0.4) /* Safari */;
  color: #fff;
}
::-moz-selection {
  background: rgba(0, 0, 0, 0.4) /* Firefox */;
  color: #fff;
}
html {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: hsv(0, 0%, 5%);
  font-family: 'Hind', 'Noto Sans JP', '游ゴシック', 'Yu Gothic',
    'Hiragino Kaku Gothic ProN', sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  font-smoothing: antialiased;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background: #fff;
  z-index: 0;
}
#__nuxt,
#__layout {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  border: 0px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
input,
button,
select,
textarea {
  font-family: inherit;
}
input[type='text'],
input[type='password'],
select {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  background: transparent;
}
select::-ms-expand {
  /* Hide arrows for selection on IE */
  display: none;
}
button {
  border: none;
  background: none;
}
.tbc {
  display: table-cell;
  vertical-align: middle;
}
.r {
  position: relative;
  width: 100%;
  height: 100%;
}
